<?xml version='1.0' encoding='utf-8' ?>
<plugin
  id="idea2413.cordova.wifi.plugin"
  version="0.0.1"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>cordova-wifi-ios-plugin</name>
    <js-module
        name="cordova-wifi-ios-plugin"
        src="www/cordova-wifi-ios-plugin.js"
    >
        <clobbers arget="cordova.plugins.cordova-wifi-ios-plugin" />
    </js-module>
    <platform name="ios">
        <config-file
            parent="/*"
            target="config.xml"
        >
            <feature name="cordova-wifi-ios-plugin">
                <param name="ios-package" value="cordova-wifi-ios-plugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/WifiPlugin.h" />
        <source-file src="src/ios/WifiPlugin.m" />
    </platform>
</plugin>
