<?xml version='1.0' encoding='utf-8' ?>
<plugin
  id="idea2413.cordova.wifi.plugin"
  version="0.0.1"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>WIFI</name>
    <js-module
        name="wifi"
        src="www/cordova-wifi-ios-plugin.js"
    >
        <clobbers target="wifi" />
    </js-module>

    <platform name="ios">
        <config-file
            parent="/*"
            target="config.xml"
        >
            <feature name="WIFI">
                <param name="ios-package" value="iOSWifi" onload="$IOS_INIT_ON_LOAD"/>
            </feature>

        </config-file>
        <source-file src="src/ios/iOSWifi.swift" />
    </platform>
</plugin>
